# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/

# Rider
.idea/

# Node
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Others
appsettings.*.json   # optional if you want to hide environment configs